@import '../abstract/variaveis';

.bem-estar {
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
        font-size: $tamanho-do-texto / 2;
        color: $cor-primaria;
        text-align: center;
    }
    h4 {
        text-align: center;
        margin-top: 0.5rem;
        color: $cor-secundaria;
    }
    p {
        text-align: center;
        color: $cor-secundaria;
        padding: 10px;
    }
    .img-bem-estar {
        padding: 20px;
    }

}